<div class="parallax-img-container"{% if category.details[0].imagePath is not empty %} style="background-image: url(/documents/{{ category.details[0].imagePath }});"{% endif %}>
  <h1 class="h4">{{ category.details[0].name | raw }}</h1>
</div>
