
/*Damit die Kategorien nicht über das Logo gehen*/
@media (max-width: 1170px) {
  .navbar {
    height: 100px;
  }
  .brand-wrapper {
    top: 28%;
  }
  .mainmenu {
    top: 43px;
    width: 975px;
    margin: 0 auto !important;
    float: none !important;
  }
  .wrapper-main #page-body {
    margin-top: 150px;
  }
  .wrapper-main>nav.container-max {
    top: 130px;
  }
  .top-bar {
    height: 85px;
  }
}
@media (max-width: 991px) {
  .navbar {
    height: auto;
  }
  .brand-wrapper {
    top: 50%;
  }
  .mainmenu {
    top: 43px;
    width: 975px;
    margin: 0 auto !important;
    float: none !important;
  }
  .wrapper-main #page-body {
    margin-top: 100px;
  }
  .wrapper-main>nav.container-max {
    top: 96px;
  }
}
