/*****Slider*****/
.main_container_slider {
  padding: 0 !important;
  margin-top: -14px;
}
.homepage_carousel {
  margin-top: -15px;
}
/*****Container*****/
.main_pagecontent {
  margin-top: 25px;
  padding: 0;
  max-width: 1200px;
}
/*****Sale*****/
.homepage_sale-row {
  height: 50px;
  background-color: #FD98BB;
  text-align: center;
  margin-top: 25px;
}
  .homepage_sale-row a {
    font-size: 34px;
    color: #FFF !important;
    font-weight: bold;
    display: block;
  }
  /*****Rows*****/
.homepage_row {
  margin-top: 25px;
}
/*****Cards*****/
.homepage_card {
  width: 100% !important;
  height: 452px;
}
.homepage_card-block {

}
.homepage_card_img {
  height: auto;
  width: 100%;
  background-color: #e878aa;
}
  .homepage_card_img:hover {
    border: 2px solid #FF80AB;
  }
/*****Sozial*****/
  .homepage_instagram, .homepage_facebook {
    height: 120px;
    border-radius: 0.1rem;
    border: 1px solid rgba(0,0,0,.125);
    font-size: 24px;
    text-align: center;
    line-height: 120px;
    opacity: 0.5;
    color: #fff;
  }
  .homepage_facebook {
    background: #3B5998;
  }
  .homepage_instagram {
    background: #E54755;
  }
  .homepage_facebook:hover, .homepage_instagram:hover {
      font-size: 30px;
  }
@media (max-width: 767px) {
.homepage_row {
    margin: 10px;
  }
  .homepage_row .col-md-3 {
    margin-bottom: 110px;
  }
  .homepage_card {
    border: none;
  }
  .homepage_card-block {
    height: 35px;
    padding: 0;
  }
  .homepage_card-block h4 {
    background: #FF80AB;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 25px;
  }
  .homepage_card-block p, .homepage_card-block a {
    display: none;
  }
  .homepage_card_img:hover {
    border: none;
  }
}
