/*****Slider*****/
.main_container_slider {
  padding: 0 !important;
  margin-top: -14px;
}
.homepage_carousel {
  margin-top: 15px;
  position: fixed;
  top: 0;
  z-index: 5;
}
@media (max-width: 991px) {
  .homepage_carousel {
    display: none;
  }
}
/*****Container*****/
.main_pagecontent {
  padding: 0;
  max-width: 1200px;
}
.homepage_container {
  margin-top: 25%;
  max-width: 100%;
  position: relative;
  width: 100%;
  z-index: 999;
}
@media (max-width: 991px) {
  .homepage_container {
    margin-top: 0;
  }
}
/*****Top Content*****/
/*breite*/
.prop-inner {
  padding: 15px 0;
}
.featured-sale-new:hover .featured-category-inner {
  background-color: #ff80ab;
}
.featured-sale-new .featured-category-inner{
  background: rgba(253, 152, 187, 0.6);
}
/*****Rows*****/
.homepage_row {
  margin-top: 25px;
}
/*****Title*****/
.homepage_row-title {
  margin-top: 5px;
  text-align: center;
}
.homepage_row-titletext {
  margin-bottom: 15px;
  text-align: center;
}
/*****Sale Banner*****/
@media (max-width: 767px) {
  .homepage_sale-row .col-xs-6 {
    float: none;
    width: 100%;
    max-height: 150px;
  }
  .homepage_sale-row .prop-xs-6-4 {
    position: initial;
  }
}
/*****Cards*****/
.homepage_card {
  width: 100% !important;
  height: 400px;
}
.homepage_card-block {

}
.homepage_card_img {
  height: auto;
  width: 100%;
  background-color: #e878aa;
}
  .homepage_card_img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all ease 1.5s;
  }
.homepage_card_imgBox {
  overflow: hidden;
}
/*****Artikel Preview*****/
.homepage_articlePreview .product-list li {
  padding: 0 15px;
}

/*****Sozial*****/
  .homepage_instagram, .homepage_facebook {
    height: 120px;
    border-radius: 0.1rem;
    border: 1px solid rgba(0,0,0,.125);
    font-size: 24px;
    text-align: center;
    line-height: 120px;
    opacity: 0.5;
    color: #fff;
  }
  .homepage_facebook {
    background: #3B5998;
  }
  .homepage_instagram {
    background: #E54755;
  }
  .homepage_facebook:hover, .homepage_instagram:hover {
      font-size: 30px;
  }
@media (max-width: 767px) {
.homepage_row {
    /*margin: 10px;*/
  }
  .homepage_row .col-md-3 {
    height: 100%;
  }
  .homepage_card {
    border: none;
    height: 100%;
  }
  .homepage_card-block {
    height: 35px;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 9px;
  }
  .homepage_card-block h4 {
    background: #FF80AB;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 25px;
  }
  .homepage_card-block p {
    display: none;
  }
  .homepage_card_img:hover {
    border: none;
  }
}
