/********** CeresSadingo Design for the Ceres Plugin ***********************************************/
body {
  background-color: #fff;/*#F4F4F4;*/
  /*<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">*/
  font-family: 'Muli', sans-serif !important;
}
a {
  color: #7a7f7f;
}
a:hover {
  color: #7a7f7f;
}
#page-body {
  margin-bottom: 30px;
}
/*Text größe Artikelübersicht Breadcrumb*/
.basket-preview .totals, .btn-labeled, .small, small {
  font-size: 100% !important;
}
/***** Userbar (oben) *********************************************************/
.controls-list a {
  color: #fff !important;
}
.top-bar {
  background-color: rgb(51, 51, 51);
}
.top-bar .controls-list .control-basket .toggle-basket-preview {
  background: #FD98BB;
  border-bottom: solid 1px;
  padding-bottom: 6px;
}
.controls-list a:hover {
  background: #FF80AB !important;
}
/*.control-user {
  border-left: 1px solid;
}
.control-user a:first-child {
  border-right: 1px solid;
}*/
.control-user .pipe {
  display: none;
}
.account-menu a:hover{
  text-decoration: underline;
}
/***** Userbar (oben Links) Facebook/Instagram *****/
.header_leftside {
  float: left !important;
  font-size: 1.3rem;
  line-height: 30px;
}
.header_leftside a i {
  color: white !important;
  padding: 4px;
}
@media (max-width: 543px) {
  .header_leftside {
    display: none;
  }
}
@media (min-width: 543px) {
  .header_leftside {
    padding-left: 18px;
  }
}
@media (min-width: 1199px) {
  .header_leftside {
    padding-left: 0px;
  }
}
/** Userbar Benutzer **********************************************************/
/*Farbe für das klicken auf den Benutzernamen*/
.top-bar .controls-list > li a:hover, .top-bar .controls-list > li a[aria-expanded="true"] {
  background-color: #fd98bb;
}
.account-menu .list-group-item {
  background-color: rgb(51, 51, 51);
  width: 100%;
}
/** myaccount **/
.myaccount fa:hover {
  color: #FCA9C6;
}
.myaccount .dropdown-menu .item-inner {
  background-color: #FCA9C6;
}
/*Rechnungsadressen */
.cmp-address-list .item-edit .fa, .cmp-address-list .item-remove .fa {
  color: #4d4f4d;
}
.cmp-address-list .item-edit .fa:hover {
  color: #4d4f4d;
}
.add-item .fa:hover {
  color: #fd98bb;
}
.card .item-edit .fa:hover, .cmp-address-list .items > div:first-child .item-edit .fa:hover {
  color: #fd98bb;
}

.cmp-method-list .method-list-item input:checked+label {
  box-shadow: inset 0 0 0 0.1rem #FF80AB;
  border: none;
}
.cmp-address-list .dropdown-menu .item-inner .text-muted {
  color: #fff !important;
}
.cmp-address-list .item input:checked + .item-inner {
  background-color: #FF80AB;
  box-shadow: 0px 2px 1px #888888;
}
.cmp-address-list  .fa-close:before, .cmp-address-list  .fa-remove:before, .cmp-address-list  .fa-times:before {
  color: #d9534f
}
/*Bestelldetails*/
.loading-animation > div {
  background-color: #FF80AB;
}
/***** Länder Auswahl *********************************************************/
.cmp-country-settings ul li.active a {
  background-color: transparent;
  color: #fff;
}
.cmp-country-settings ul li.active a:hover {
    background-color: transparent;
}
/***** Menü (oben) ************************************************************/
#mainNavbarCollapsable ul.mainmenu > li  {
  position: static !important;
}
/* Menü Icons*/
#mainNavbarCollapsable ul.mainmenu li.ddown>a:after {
  content: "\f105";
}
@media (min-width: 991px) {
  #mainNavbarCollapsable ul.mainmenu > li > ul > li {
    display: block;
    width: 33.3333%;
    text-align: left;
    float: left;
  }
  #mainNavbarCollapsable ul.mainmenu>li.ddown>a:after {
      content: "\f107";
  }
}
/*Entfernt die Navbar Icons in der Mobil Ansicht*/
@media (max-width: 991px) {
  #mainNavbarCollapsable ul.mainmenu>li.ddown>a:after {
      content: "\f107";
    display: none;
  }
}
/*****Icon im Mobile Menu*****/

.open .btnClose {
  color: #d9534f;
}
/***** Menü Leiste (oben) *****************************************************/
.wrapper-main>nav.container-max {
  background-color: #fff !important;
}
.breadcrumb a {
  color: #e878aa !important;
}
.navbar {
  background-color: #FF80AB !important;
}
/*Dropdown Kategorien*/
#mainNavbarCollapsable ul.mainmenu>li>ul {
  background: #FD98BB !important;
  padding: 25px;
}
#mainNavbarCollapsable ul.mainmenu>li>ul>li:hover {
  background: #FD98BB !important;
}
#mainNavbarCollapsable ul.mainmenu>li>ul>li:hover {
  background: #FD98BB !important;
}
#mainNavbarCollapsable ul.mainmenu>li>ul>li a:hover {
  text-decoration: underline;
}
#mainNavbarCollapsable ul.mainmenu>li:hover {
  background: #FD98BB !important;
}

/***** Mobile *****************************************************************/
.mobile-navigation {
  background-color: #FF80AB;
}
.navbar-toggler {
  color: #fff;
}
@media (max-width: 992px){
#mainNavbarCollapsable {
  background-color: #FF80AB;
}
  #mainNavbarCollapsable a {
    color: #fff !important;
  }
    #mainNavbarCollapsable a:hover {
      color: #fff !important;
    }
}
/*Links der Menü Leiste*/
.wrapper-main .navbar {
  font-family: 'Muli', sans-serif !important;
  border-bottom: none;
}

.wrapper-main .navbar a {
  color: #fff !important;
}
/*Farbe der Menü fenster*/
.wrapper-main .navbar .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item {
    color: #000 !important;
}
.wrapper-main .navbar .navbar-nav .nav-item>.nav-link {
    border: none !important;
}
/***** Warenkorb **************************************************************/
.basket-item-infos a, .item-details a {
  color:#FD98BB;
}
/*Warenkorb Animation*/
.owl-item-clone {
  z-index: 3000;
}
.itemaddedanimate {
  -webkit-transition: all ease-in-out 0.5s;
}
/*Name des Produktes*/
/***** Artikel Seite (Category View) ******************************************/
.category_infoBox {
  margin-bottom: 10px;
}
.category_title {
  margin-top: 10px;
}
.categoriegrid .col-xs-12 .col-lg-9 {
  padding-left: 0px;
}
.categoriegrid .item-list-frame-main {
  padding-right: 13px;
}
@media (max-width: 991px) {
  .categoriegrid .item-list-frame-main {
    padding-right: 0px;
  }
}
.owl-theme .owl-nav [class*=owl-] {
  background-color: #FD98BB;
  color: #fff;
}
/*.col-md-7 {
  z-index: 999;
}*/
  .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #FF80AB;
  }
  .single-rightside {
    float: right;
  }
  /*Porto Info*/
  .vat-porto-info {
      font-size: 9px !important;
  }
  .vat-porto-info a {
      color: #FF80AB;
  }
  .single-leftside {
    height: 500px;
  }
  .owl-lazy {
    width: 400px !important;
    height: 400px !important;
  }
  .owl-height {
    height: 400px;
    text-align: center;
  }
  .owl-carousel .owl-single-item-control {
    color: #FD98BB !important;
    opacity: 0.9;
  }
    .owl-carousel .owl-single-item-control:hover {
      color: #FD98BB !important;
      opacity: 1;
    }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #FF80AB !important;
  }
  .owl-thumbs .owl-thumb.active, .owl-thumbs .owl-thumb:hover {
    border: 1px solid #FF80AB;
  }
.cmp-product-thumb .add-to-basket-lg-container:hover {
  border-color: transparent #FF80AB transparent transparent;
}
.cmp-product-thumb .crossprice {
  color: rgba(217, 84, 79, 0.92);
}
/*abstand zwischen den artikeln*/
.product-list li {
  padding: 0;
}
/*Farbe für die Tab Links*/
.nav-tabs a {
  color: #FF80AB;
}
/*toggle Filter*/
.filter-wrapper .filter-toggle {
  color: #FF80AB;
  text-decoration: none;
}
.filter-wrapper .page-content {
  border: 1px solid #eee;
}

/* Artikelseite Mobile */
@media (max-width: 767px) {
  /*Mobile höhe des Carousel*/
  #thumb-carousel {
   height: 85px;
  }
  #single-carousel {
   height: 405px;
   margin-bottom: 18px;
  }
  /* Verhindert das verschieben der Artikelbeschreibung */
  .single-rightside {
    width: auto !important;
    bottom: auto !important;
    float: none;
  }
}
/* Setzt "In den Warenkorb" mittig in derDesktop Ansicht */
@media (min-width: 992px){
  .cmp-product-thumb .btn-group {
      bottom: 2.3rem !important;
  }
}
/***** Sidebar Categories *****************************************************/
.sidebar-categories {
  font-family: 'Muli', sans-serif !important;
  border: 1px solid #ececec;
}
  .sidebar-categories .category-title {
      background: #fff;
  }
  .sidebar-categories a {
    color: #4D4F4D !important;
  }
  .sidebar-categories ul li.active>a {
    color: #e878aa !important;
    background: #fff;
  }
  .sidebar-categories ul li>a:first-of-type:after {
      content: '\f107';
      font-family: FontAwesome;
      padding: 5px ;
  }
  .sidebar-categories ul li.active>a:last-child:after {
    content: none;
  }
  .sidebar-categories ul li>a:last-child:after {
    content: none;
  }
  .sidebar-categories ul li.active ul li ul li a {
    padding-left: 4.5rem;
  }
  .sidebar-categories ul li.active ul li a {
      padding-left: 2.5rem;
  }
/***** Kasse (Checkout View) **************************************************/
.form-check a {
  color: #FF80AB;
}
/** Kontakt Seite *************************************************************/
.cmp-contact #contact-map {
  display: none;
}
.cmp-contact p  {
  margin: 0 !important;
}
/***** Einzel Artikel Seite (SingleItem View) *********************************/
.base-price-amount {
  display: inline !important;
}
/***** Button *****/
/*ausgefüllter Button*/
.btn-primary {
  color: #fff !important;
  background-color: #FF80AB;
  border-color: #FF80AB;
}
  .btn-primary:hover {
    background-color: #FF80AB;
    border-color: #FF80AB;
  }
  .btn-primary:focus {
    background-color: #FF80AB;
    border-color: #FF80AB;
  }
  .btn-primary.active.focus,
  .btn-primary.active:focus,
  .btn-primary.active:hover,
  .btn-primary.focus:active,
  .btn-primary:active:focus,
  .btn-primary:active:hover,
  .open > .btn-primary.dropdown-toggle.focus,
  .open > .btn-primary.dropdown-toggle:focus,
  .open > .btn-primary.dropdown-toggle:hover {
    background-color: #FF80AB;
    border-color: #FF80AB;
  }
  .btn-primary.disabled.focus,
  .btn-primary.disabled:focus,
  .btn-primary.disabled:hover,
  .btn-primary:disabled.focus,
  .btn-primary:disabled:focus,
  .btn-primary:disabled:hover {
     background-color: #FF80AB;
     border-color: #FF80AB;
  }
  a.bg-primary:focus, a.bg-primary:hover {
  	background-color: #ff80ab !important;
  }

  .btn-primary.active, .btn-primary:active, .open>.btn-primary.dropdown-toggle {
    border-color: #ff80ab !important;
  }

.btn-danger {
    color: #fff !important;
}
/*neuheit Button*/
.bg-primary {
    background-color: #FF80AB !important;
}
/*Nicht ausgefüllter Button*/
.btn-outline-primary {
  color: #FF80AB;
  border-color: #FF80AB;
}
  .btn-outline-primary:hover {
    color: #fff !important;
    background-color: #FF80AB;
    border-color: #FF80AB;
  }
.btn-outline-primary:active:hover, .btn-outline-primary:focus{
    background-color: #FF80AB;
    border-color: #FF80AB;
    color: #fff;
}
/*Suche Oben*/
.cmp-search-box .search-submit {
  color: #FF80AB !important;
}
.cmp-search-box {
  background-color: #FD98BB;
}
.control-search .fa-close {
  color: #d9534f;
}
/***** Content *****/
.page-content {
  background: #fff;
}
/*Abstand nach oben*/
.wrapper-main #page-body{
  margin-top: 100px;
}
/*Filter oben*/
.list-controls .list-controls-inner {
  background: #F4F4F4;
}
/*Artikel*/
/*Seiten navbar (unten)*/
.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover{
  background-color: #FD98BB;
  border-color: #FD98BB;
  color: #fff !important;
}
.page-item .page-link {
  color: #FD98BB !important;
}
/*****Artikelseite*****/
/*Sofort versandfertig,Lieferzeit 2-3Tage*/
.ceresSadingo-availability {
  font-size: 82%;
  letter-spacing: 0.04rem;
}
.availability_1, .availability_2{
  font-size: 82%;
  letter-spacing: 0.04rem;
}
/*****Load Animation*****/
.sk-fading-circle .sk-circle::before {
  background-color: #e878aa;
}
/***** Ceres Container zum selber konfigurieren *********************************/
.ceresSadingo_ItemListContainer{

}
.ceresSadingo_ItemListContainer .thumb-content .thumb-meta .prices,
.single .product-list .prices {
  display: inline-block;
}
.ceresSadingo_ItemListContainer .thumb-content .thumb-meta .prices a,
.single .product-list .prices a {
  float: left;
}
.ceresSadingo_ItemListContainer .thumb-content .thumb-meta .prices .price-view-port,
.single .product-list .prices .price-view-port{
  float: right;
}
.ceresSadingo_ItemListContainer .thumb-content .thumb-meta .category-unit-price,
.single .product-list .category-unit-price{
  display: none;
}
